<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landingpage</title>
    <script>
    function getLocation() {
        navigator.geolocation.getCurrentPosition(showPosition);
    }

    function showPosition(position) {
      x.innerHTML = "Latitude: " + position.coords.latitude +
      "<br>Longitude: " + position.coords.longitude;
    }
    function SetPositionForm(position) {
      document.getElementById("lat").value = position.coords.latitude;
      document.getElementById("lon").value = position.coords.longitude;
    }
    </script>
</head>
<body onload="getLocation()">

    <p onload="showPosition()" id="x"></p>

        <form class="form-horizontal" action="/bikes" onload="SetPositionForm()">
                <fieldset>
                    <input type="text" id="lat" name="lat">
                    <input type="text" id="lon" name="lon">
                
                <!-- Form Name -->
                <legend>Poznań wokół Ciebie</legend>
                
                <!-- Select Basic -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="selectbasic">Wybierz kategorię wyszukiwania</label>
                  <div class="col-md-4">
                    <select id="selectbasic" name="selectbasic" class="form-control">
                      <option value="">Stacje rowerów miejskich</option>
                    </select>
                  </div>
                </div>
                
                <!-- Button -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="singlebutton"></label>
                  <div class="col-md-4">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Wyszukaj</button>
                  </div>
                </div>

                </fieldset>
                </form>
                
</body>
</html>