<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landingpage</title>
</head>
<body>
        <form class="form-horizontal">
                <fieldset>
                
                <!-- Form Name -->
                <legend>Poznań wokół Ciebie</legend>
                
                <!-- Select Basic -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="selectbasic">Wybierz kategorię wyszukiwania</label>
                  <div class="col-md-4">
                    <select id="selectbasic" name="selectbasic" class="form-control">
                      <option value="">Stacje rowerów miejskich</option>
                    </select>
                  </div>
                </div>
                
                <!-- Button -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="singlebutton"></label>
                  <div class="col-md-4">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Wyszukaj</button>
                  </div>
                </div>
                
                </fieldset>
                </form>
                
</body>
</html>